<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INE Credencial (Simulación)</title>
    <link rel="stylesheet" href="lw.disk://templates/2016/style.css">

</head>
<body>
<div id="view-port">
    <div class="card">
    </div>
</div>
</body>
</html>