<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INE Credencial (Simulación)</title>
    <link rel="stylesheet" href="localhost.disk://templates/2016/style.css">
    <style>
        {{ css }}
    </style>
    <style>
        .card {
            border-radius: 3.18mm;
            border: {{ gen.random.choice((

                        gen.color.hsluv((
                            theme.color.hue,
                            gen.random.number(top=30),
                            gen.random.number(top=theme.color.lightness // 2),
                            gen.random.float()
                        )).to_css_rgba(),
                    )) }} solid 2px;
        }
    </style>
</head>
<body>
<div id="view-port">
    <div class="card">
        <header class="card-header">
            <div class="logo-text">
                <p>{{ gen.address.country().data }}</p>
            </div>
            <div class="title-section">
                {% if gen.random.boolean() %}
                    <h1>{{ gen.institution.voting().data }}</h1>
                    <h2>{{ data.id.type }}</h2>
                {% endif %}
            </div>
        </header>

        <main class="card-body">
            <div class="photo-section">
            </div>
            <div class="data-section">
                <div class="data-group top-right">
                    <div class="data-item date">
                        <label>{{ data.labels.birth_date }}</label>
                        <p>{{ gen.time.date().data }}</p>
                    </div>
                    <div class="data-item sex">
                        <label>{{ data.labels.sex }}</label>
                        <p>{{ gen.random.choice("FM") }}</p>
                    </div>
                </div>

                <div class="data-item name">
                    <label>{{ data.labels.name }}</label>
                    <p>{{ gen.name.last().data }}</p>
                    <p>{{ gen.name.last().data }}</p>
                    <p>{{ gen.name.first().data }}</p>
                </div>

                <div class="data-item address">
                    <label>{{ data.labels.address }}</label>
                    <p>{{ gen.address.road().data }} #{{ gen.address.number().data }}</p>
                    <p>{{ gen.address.block().data }}. {{ gen.address.number().data }} </p>
                    <p>{{ gen.address.city().data }}, {{ gen.address.state().data }}</p>
                </div>

                <div class="data-item key-voter">
                    <div class="key">
                        <label>{{ data.labels.voter_key }}</label>
                        <span>{{ gen.random.hex(18) }}</span>
                    </div>
                </div>

                <div class="data-item key-curp">
                    <div class="curp">
                        <label>{{ data.labels.curp }}</label>
                        <span>{{ gen.random.hex(18) }}</span>
                    </div>
                    <div class="year">
                        <label>{{ data.labels.registration_year }}</label>
                        <span>{{ gen.time.year_as_number().data }}</span>
                    </div>
                </div>

                <div class="data-group bottom-row">
                    <div class="data-item state">
                        <label>{{ data.labels.state }}</label>
                        <span>{{ gen.random.lf_number(1,99) }}</span>
                    </div>
                    <div class="data-item municipio">
                        <label>{{ data.labels.municipality }}</label>
                        <span>{{ gen.random.lf_number(1,99) }}</span>
                    </div>
                    <div class="data-item seccion">
                        <label>{{ data.labels.section }}</label>
                        <span>{{ gen.random.lf_number(1,99) }}</span>
                    </div>
                    <div class="data-item localidad">
                        <label>{{ data.labels.locality }}</label>
                        <span>{{ gen.random.lf_number(1,99) }}</span>
                    </div>
                    <div class="data-item emision">
                        <label>{{ data.labels.issued }}</label>
                        <span>{{ gen.time.year_as_number().data }}</span>
                    </div>
                    <div class="data-item vigencia">
                        <label>{{ data.labels.valid_until }}</label>
                        <span>{{ gen.time.year_as_number().data }}</span>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>
</body>
</html>