<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INE Credencial (Simulación)</title>
    <link rel="stylesheet" href="lw.disk://templates/A/common/style.css">
    <style>

        {% include "common/card.css.j2" %}
    </style>
</head>
<body>
<div id="view-port">
    <div class="card">
        <header class="card-header">
            <div class="title-section">
                <h1>{{ gen.institution.voting().data }}</h1>
                {% if gen.random.boolean() %}
                    <h2>{{ template_data.id.type }}</h2>
                {% endif %}
            </div>
        </header>

        <main class="card-body">
            <div class="photo-section">
            </div>
            <div class="data-section">
                <div class="data-group top-right">
                    <div class="data-item date">
                        <label>{{ template_data.labels.birth_date | e }}</label>
                        <p>{{ gen.time.date().data }}</p>
                    </div>
                    <div class="data-item sex">
                        <label>{{ template_data.labels.sex | e }}</label>
                        <p>{{ data.record.meta.identification.gender[0] }}</p>
                    </div>
                </div>

                <div class="data-item name">
                    <label>{{ template_data.labels.name | e }}</label>
                    <p>{{ data.record.meta.identification.last_name }}</p>
                    <p>{{ data.record.meta.identification.first_name }}</p>
                </div>

                <div class="data-item address">
                    <label>{{ template_data.labels.address | e }}</label>
                    <p>{{ gen.address.road().data }} #{{ gen.address.number().data }}</p>
                    <p>{{ gen.address.block().data }}. {{ gen.address.number().data }} </p>
                    <p>{{ gen.address.city().data }}, {{ gen.address.state().data }}</p>
                </div>

                <div class="data-item key-voter">
                    <div class="key">
                        <label>{{ template_data.labels.voter_key | e }}</label>
                        <span>{{ gen.random.hex(18) }}</span>
                    </div>
                </div>

                <div class="data-item key-curp">
                    <div class="curp">
                        <label>{{ template_data.labels.curp | e }}</label>
                        <span>{{ gen.random.hex(18) }}</span>
                    </div>
                    <div class="year">
                        <label>{{ template_data.labels.registration_year | e }}</label>
                        <span>{{ gen.time.year_as_number().data }}</span>
                    </div>
                </div>

                <div class="data-group bottom-row">
                    <div class="data-item state">
                        <label>{{ template_data.labels.state | e }}</label>
                        <span>{{ gen.random.lf_number(1,99) }}</span>
                    </div>
                    <div class="data-item municipio">
                        <label>{{ template_data.labels.municipality | e }}</label>
                        <span>{{ gen.random.lf_number(1,99) }}</span>
                    </div>
                    <div class="data-item seccion">
                        <label>{{ template_data.labels.section | e }}</label>
                        <span>{{ gen.random.lf_number(1,99) }}</span>
                    </div>
                    <div class="data-item localidad">
                        <label>{{ template_data.labels.locality | e }}</label>
                        <span>{{ gen.random.lf_number(1,99) }}</span>
                    </div>
                    <div class="data-item emision">
                        <label>{{ template_data.labels.issued | e }}</label>
                        <span>{{ gen.time.year_as_number().data }}</span>
                    </div>
                    <div class="data-item vigencia">
                        <label>{{ template_data.labels.valid_until | e }}</label>
                        <span>{{ gen.time.year_as_number().data }}</span>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>