{#-------------------------
  Helpers / building blocks
  -------------------------#}

{%- set accent_a = gen.color.hsluv((
    env.theme.primary_color.hue,
    gen.random.number(top=30),
    gen.random.number(top=env.theme.primary_color.lightness),
    gen.random.float()
)).to_css_rgba() -%}

{%- set accent_b = gen.color.hsluv((
    env.theme.primary_color.hue,
    gen.random.number(top=6),
    gen.random.number(low=90, top=100),
    gen.random.float()
)).to_css_rgba() -%}

{%- set maybe_color = gen.random.choice((
    "rgba(0,0,0,0)",
    accent_a,
    accent_b
)) -%}

{%- set border_color = maybe_color -%}

{%- set main_gray = gen.random.choice((
    "grayscale(" ~ tx.str(gen.random.number(70, 95)) ~ "%)",
    ""
)) -%}

{%- set main_op = gen.random.choice((
    "opacity(" ~ tx.str(gen.random.number(60, 100)) ~ "%)",
    ""
)) -%}

{%- set small_gray = gen.random.choice((
    "grayscale(" ~ tx.str(gen.random.number(70, 95)) ~ "%)",
    ""
)) -%}

{%- set small_op = gen.random.choice((
    "opacity(" ~ tx.str(gen.random.number(35, 100)) ~ "%)",
    ""
)) -%}

{%- set blend_mode = gen.random.choice(("multiply", "")) -%}

{#-------------------------
  CSS
  -------------------------#}

.main-photo,
.small-photo {
  background: {{- maybe_color -}};
  border: {{- border_color -}} solid 1px;

  filter: {{- main_gray -}} {{- main_op -}};
  background-blend-mode: {{- blend_mode -}};
}

.small-photo {
  filter: {{- small_gray -}} {{- small_op -}};
}
