body {
    padding: 0;
    margin: 0;
}

#view-port {
    display: inline-block;
    font-size: 8mm;
}

{% include "photo.css.j2" %}
{% include "text.css.j2" %}
{% include "card.css.j2" %}
{% include "layout.css.j2" %}