{%- set hue = env.theme.primary_color.hue -%}
{%- set max_l = (env.theme.primary_color.lightness // 2) -%}

{%- set border_accent = gen.color.hsluv((
    hue,
    gen.random.number(top=30),
    gen.random.number(top=max_l),
    gen.random.float()
)).to_css_rgba() -%}

{%- set border_color = (
    "rgba(0,0,0,0)",
    border_accent
) | random -%}



.card {
    width: 340mm; /* Approximate ID card width */
    height: 196mm; /* Approximate ID card height */
    padding: 4mm;
    margin: 4mm;

    display: flex;
    flex-direction: column;
}


.card {
  border-radius: 6mm;
  border: {{- border_color -}} solid 2px;
}
